*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  box-sizing: inherit;
  height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
}

.container{
max-width: 1111px;
width: 100%;
margin: 0 auto;
padding: 0 10px;
}
.hesder{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hesder__img{
    width: 236px;
    height: 26px;
}
.hesder__ul{
    width: 283px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.hesder__ul--li-a{
    text-decoration: none;
    color: #83888F;
font-size: 12px;
font-family: Barlow;
font-weight: 700;
text-transform: uppercase;
line-height: 15px;
letter-spacing: 0.92px;
}
.hero{
  width: 100%;
  background-color: #A2A2A2;
  padding: 117px 85px;
  margin-top: 30px;
}
.hero__h1{
  color: #FEFCF7;
font-size: 72px;
font-family: Fraunces 9pt;
font-weight: 900;
line-height: 72px;
}
.hero__h1--p{
  color: #FEFCF7;
font-size: 16px;
font-family: Barlow;
font-weight: 400;
line-height: 26px;
margin-top: 32px;
}
.hero__h1--p-button{
  color: #FEFCF7;
font-size: 18px;
font-family: Fraunces 9pt;
font-weight: 900;
line-height: 25px;
padding: 16px 31px;
background-color: #0E8784;
border-radius: 6px;
border: none;
margin-top: 56px;
}