*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  box-sizing: inherit;
  height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  background-color: #faf6f3;
}

img {
  display: block;
  width: 100%;
}

.container{
max-width: 1111px;
width: 100%;
margin: 0 auto;
padding: 0 10px;
}
.hesder{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hesder__img{
    width: 236px;
    height: 26px;
}
.hesder__ul{
    width: 283px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.hesder__ul--li-a{
    text-decoration: none;
    color: #83888F;
font-size: 12px;
font-family: Barlow;
font-weight: 700;
text-transform: uppercase;
line-height: 15px;
letter-spacing: 0.92px;
}
.hero{
  width: 100%;
  background-color: #A2A2A2;
  padding: 117px 85px;
  margin-top: 30px;
}
.hero__h1{
  color: #FEFCF7;
font-size: 72px;
font-family: Fraunces 9pt;
font-weight: 900;
line-height: 72px;
}
.hero__h1--p{
  color: #FEFCF7;
font-size: 16px;
font-family: Barlow;
font-weight: 400;
line-height: 26px;
margin-top: 32px;
}
.hero__h1--p-button{
  color: #FEFCF7;
font-size: 18px;
font-family: Fraunces;
font-weight: 900;
line-height: 25px;
padding: 16px 31px;
background-color: #0E8784;
border-radius: 6px;
border: none;
margin-top: 56px;
}
.collection{
  margin-top: 50px;
background-image: url(./image/back-col.svg);
width: 100%;
height: 30vh;
background-repeat: no-repeat;
background-size: cover;
}
.collection__cards--box{
width: 255px;
display: flex;
flex-direction: column;
align-items: center;
}
.collection__cards--box-img{
  width: 255px;
  height: 193px;
  margin-top: 200px;
}
.collection__cards--box-h3{
  color: #333D4B;
font-size: 24px;
font-family: Fraunces ;
font-weight: 900;
line-height: 32px;
margin-top: 72px;
text-align: center;
}
.collection__cards--box-p{
  color: #333D4B;
font-size: 16px;
font-family: Barlow;
font-weight: 400;
line-height: 26px;
margin-top: 24px;
text-align: center;
}
.collection__cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-70px);
}
.why{
  margin-top: 500px;
  width: 100%;
  background-color: #272f3a;
  padding-top: 121px;
}
.why__h2{
  color: #FEFCF7;
  font-size: 40px;
  font-family: Fraunces ;
  font-weight: 900;
  line-height: 48px;
  text-align: center;
}
.why__p{
  color: #FEFCF7;
font-size: 16px;
font-family: Barlow;
font-weight: 400;
line-height: 26px;
text-align: center;
margin-top: 32px;
}
.why__cards--box{
  width: 350px;
  height: 382px;
  padding: 0px 48px;
  background-color: #0E8784;
  border-radius: 8px;
}
.why__cards--box-h3{
  color: #FEFCF7;
font-size: 24px;
font-family: Fraunces 9pt;
font-weight: 900;
line-height: 32px;
margin-top: 56px;
text-align: center;
}
.why__cards--box-p{
  color: #FEFCF7;
font-size: 16px;
font-family: Barlow;
font-weight: 400;
line-height: 26px;
text-align: center;
margin-top: 24px;
}
.why__cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(120px);
}
.why__cards--box:nth-child(1) h3::before{
content: "";
display: block;
background-image: url("./image/why-box1.svg");
width: 72px;
height: 72px;
margin: 0 auto;
margin-bottom: 56px;
margin-top: 72px;
}
.why__cards--box:nth-child(2) h3::before{
  content: "";
  display: block;
  background-image: url("./image/why-box2.svg");
  width: 72px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 56px;
  margin-top: 72px;
  }
  .why__cards--box:nth-child(3) h3::before{
    content: "";
    display: block;
    background-image: url("./image/why-box3.svg");
    width: 72px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 76px;
    margin-top: 72px;
    }